course-recommender-app/src/main/resources/xsd/recommended-course.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema 
    xmlns:xs="http://www.w3.org/2001/XMLSchema"
    targetNamespace="http://recommender.com/recommendations"
    xmlns="http://recommender.com/recommendations"
    elementFormDefault="qualified">

    <xs:complexType name="RecommendedCourseType">
        <xs:sequence>
            <xs:element name="id" type="xs:int"/>
            <xs:element name="name" type="xs:string"/>
            <xs:element name="description" type="xs:string"/>
            <xs:element name="credit" type="xs:int"/>
            <xs:element name="extra" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="RecommendedCoursesType">
        <xs:sequence>
            <xs:element name="recommendedCourse" type="RecommendedCourseType" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <xs:element name="getRecommendedCourses" type="xs:anyType"/>
    <xs:element name="recommendedCourses" type="RecommendedCoursesType"/>
</xs:schema>
